body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
}

.all-links {
    display: flex;
    gap: 14px;
}

.container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
    margin: 0px 100px;
}

.main-image {
    display: flex;
    width: 400px;
    height: 160px;
}

.left-text {
    display: flex;
    flex-direction: column;
}

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container {
    display: flex;
    
}

.image {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.quote-box {
    display: flex;
}

.blue-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
}