body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
}

.all-links {
    display: flex;
    gap: 14px;
}

.container-1 {
    display: flex;
    justify-content: center;
}

.main-image {
    display: flex;
    width: 400px;
    height: 160px;
}